<app-header [titulo] = "'Perfil'" [Direccion] = "'/inicio'"></app-header>

<ion-content class="ion-padding">

  <!-- Información del perfil -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información del Usuario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Nombre de Usuario: {{nombre}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Email: {{correo}}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <button id="button" [routerLink]="['/google-map']">
    <ion-card >
      <ion-card-content>
        <ion-title>Mi Ubicación</ion-title>
      </ion-card-content>
    </ion-card>
  </button>
</ion-content>
