// perfil.page.scss

ion-card {
    margin: 10px;
  }
  

  #button {
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    width: 100%; /* Ajusta el ancho del botón */
    height: auto; /* Ajusta la altura para que se adapte al contenido */
  }