<app-header [titulo] = "'Crear publicación'"  [Direccion] = "'/inicio'"></app-header>


<ion-content class="ion-padding">
  <!-- Sección del Título -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Título de la Publicación</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-input label="Titulo "[(ngModel)]="titulo" name="titulo" placeholder="Ingresa el título de la publicación" required></ion-input>
    </ion-card-content>
  </ion-card>
<!-- Sección de Imagen -->
<ion-card>
  <ion-card-header>
    <ion-card-title>Imagen de la Publicación</ion-card-title>
  </ion-card-header>

  <!-- Botón para tomar la foto -->
  <ion-button expand="full" color="primary" (click)="tomarFoto()">Tomar foto</ion-button>

  <!-- Mostrar la vista previa de la imagen seleccionada -->
  <ion-card-content *ngIf="imagenBase64">
    <img [src]="imagenBase64" alt="Vista previa de la imagen" style="width: 100%; border-radius: 8px; margin-top: 10px;">
  </ion-card-content>
</ion-card>


  <!-- Sección de Ingredientes -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ingredientes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-textarea label="Ingredientes"[(ngModel)]="ingredientes" name="ingredientes" placeholder="Lista los ingredientes aquí" required></ion-textarea>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="text-center">Categoría</ion-card-title>
    </ion-card-header>
    <ion-select [(ngModel)]="categoria" name="categoria" required class="text-center">
      <ion-select-option value="Recetas Chinas">Recetas Chinas</ion-select-option>
      <ion-select-option value="Recetas Italianas">Recetas Italianas</ion-select-option>
      <ion-select-option value="Recetas Mexicanas">Recetas Mexicanas</ion-select-option>
      <ion-select-option value="Recetas Japonesas">Recetas Japonesas</ion-select-option>
      <ion-select-option value="Recetas Francesas">Recetas Francesas</ion-select-option>
      <ion-select-option value="Postres Internacionales">Postres Internacionales</ion-select-option>
      <ion-select-option value="Comida Rápida Saludable">Comida Rápida Saludable</ion-select-option>
      <ion-select-option value="Cocina Vegetariana">Cocina Vegetariana</ion-select-option>
      <ion-select-option value="Recetas de Mariscos">Recetas de Mariscos</ion-select-option>
      <ion-select-option value="Cocina Mediterránea">Cocina Mediterránea</ion-select-option>
      <ion-select-option value="Recetas para Desayuno">Recetas para Desayuno</ion-select-option>
      <ion-select-option value="Recetas Sin Gluten">Recetas Sin Gluten</ion-select-option>
      <ion-select-option value="Cocina Vegana">Cocina Vegana</ion-select-option>
      <ion-select-option value="Recetas Festivas">Recetas Festivas</ion-select-option>
    </ion-select>
  </ion-card>

  <!-- Sección de Pasos -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Pasos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-textarea label="Pasos" [(ngModel)]="pasos" name="pasos" placeholder="Describe los pasos aquí" required></ion-textarea>
    </ion-card-content>
  </ion-card>


  <!-- Botón para guardar la publicación -->
  <ion-button expand="full" color="primary" (click)="Publicar()">Crear Publicación</ion-button>
</ion-content>
