<ion-app>
  <app-header [titulo] = "receta?.strMeal" [Direccion] = "'/buscador'"></app-header>

  <ion-content id="main-content">
    <ion-content class="ion-padding">
      <!-- Sección del Título -->
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ receta?.strMeal }}</ion-card-title> <!-- Título dinámico -->
        </ion-card-header>
        <ion-card-content>
          <!-- Imagen de la Publicación -->
          <img [src]="receta?.strMealThumb" alt="{{ receta?.strMeal }}" style="width: 100%; height: auto;" /> <!-- Imagen dinámica -->
        </ion-card-content>
      </ion-card>

      <!-- Sección de Ingredientes -->
      <ion-card>
        <ion-card-header>
          <ion-card-title>Ingredientes</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <!-- Aquí agregarías los ingredientes dinámicos si los tienes disponibles -->
                <ul>
                  <li *ngFor="let ingredient of ingredientes">
                    {{ ingredient }}
                  </li>
                </ul>
        </ion-card-content>
      </ion-card>

      <!-- Sección de Pasos -->
      <ion-card>
        <ion-card-header>
          <ion-card-title>Pasos</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{ receta?.strInstructions }}</p> <!-- Pasos dinámicos -->
        </ion-card-content>
      </ion-card>

      <!-- Sección de Video -->
      <ion-card *ngIf="receta?.strYoutube">
        <ion-card-header>
          <ion-card-title>Video</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <iframe
            [src]="getSafeUrl(receta?.strYoutube)"
            width="100%"
            height="300"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </ion-card-content>
      </ion-card>

      <!-- Botones de Acción -->
      <ion-card>
        <ion-card-content>
          <ion-button expand="full" color="primary" (click)="Like()">Like</ion-button>
          <ion-button expand="full" (click)="Guardado()">Guardar</ion-button>
        </ion-card-content>
      </ion-card>

      <!-- Comentario -->
      <ion-card style="margin-bottom: 10%;">
        <ion-card-header>
          <ion-card-title>Comentario</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-input
              [(ngModel)]="comentario"
              name="comentario"
              placeholder="Escribe tu comentario"
              required
            ></ion-input>
          </ion-item>
          <ion-button expand="full" color="primary" (click)="Comentar()">
            Enviar Comentario
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ion-content>
</ion-app>
