<ion-app>
  <app-header [titulo] = "receta.titulo" [Direccion] = "'/buscador'"></app-header>

  <ion-content id="main-content">
    <ion-content class="ion-padding">
      <ion-card>
        <ion-card-content>
          <!-- Imagen de la Publicación -->
          <img [src]="receta.imagen" alt="{{ receta.titulo }}" style="width: 100%; height: auto;" /> <!-- Imagen dinámica -->
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Categoría</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{ receta?.strCategory  || receta.categoria }} </p> <!-- Pasos dinámicos -->
        </ion-card-content>
      </ion-card>

      <!-- Sección de Ingredientes -->
      <ion-card>
        <ion-card-header>
          <ion-card-title>Ingredientes</ion-card-title>
          
        </ion-card-header>
        <ion-card-content>
          <!-- Aquí agregarías los ingredientes dinámicos si los tienes disponibles -->
           
                <ul>
                  {{ receta.ingredientes  }}
                </ul>
        </ion-card-content>
      </ion-card>

      <!-- Sección de Pasos -->
      <ion-card>
        <ion-card-header>
          <ion-card-title>Pasos</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{ receta.pasos }} </p> <!-- Pasos dinámicos -->
        </ion-card-content>
      </ion-card>


      <!-- Botones de Acción -->
      <ion-card>
        <ion-card-content>
          <ion-button expand="full" color="primary" (click)="Like()">Like</ion-button>
          <ion-button expand="full" (click)="guardarPublicacion()">Guardar</ion-button>
        </ion-card-content>
      </ion-card>

      <!-- Comentario -->
      <ion-card style="margin-bottom: 10%;">
        <ion-card-header>
          <ion-card-title>Comentario</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-input
              [(ngModel)]="comentario"
              name="comentario"
              placeholder="Escribe tu comentario"
              required
            ></ion-input>
          </ion-item>
          <ion-button expand="full" color="primary" (click)="Comentar()">
            Enviar Comentario
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ion-content>
</ion-app>
