// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/


// variables.scss

// Colores principales
/* src/theme/variables.scss */
:root {
  --ion-color-primary: rgb(250, 0, 80); /* Ajusta el color primario aquí */
  --ion-color-primary-rgb: 250, 0, 80;
  --ion-color-primary-contrast: #fff; /* Color del texto sobre el color primario */
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: rgb(200, 0, 60); /* Color más oscuro para efectos de sombra */
  --ion-color-primary-tint: rgb(255, 50, 100); /* Color más claro para efectos de tinte */
}

  