<ion-header >
  <ion-toolbar color="primary">
    <ion-title>Acerca de</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card id="colored-box1">
    <ion-card-content>
      <ion-title class="titulo">Versión 1.0</ion-title>
    </ion-card-content>
    <ion-card-content>
      <p class="parrafo">> Nombre: CocinApp</p>
      <p class="parrafo">> Id_aplicación : 21253KUT09</p>
      <p class="parrafo">> fecha lanzamiento : 06/09/2024</p>
      <p class="parrafo">> id_smartphone : 1234JKLESMS</p>
    </ion-card-content>
  </ion-card>
</ion-content>
