<app-header [titulo]="'Buscador'" [Direccion]="'/inicio'"></app-header>

<ion-content>


<!-- Barra de Búsqueda -->
<ion-searchbar
  placeholder="Buscar"
  [(ngModel)]="busqueda"
  (ionInput)="buscarRecetas()"
></ion-searchbar>

<ion-item>
  <ion-label class="text-center">Seleccionar Categoría</ion-label>
  <ion-select [(ngModel)]="categoriaSeleccionada" (ionChange)="filtrarPorCategoria()">
    <ion-select-option value="">Mostrar todas</ion-select-option> <!-- Opción para ver todas las recetas -->
    <ion-select-option value="Recetas Chinas">Recetas Chinas</ion-select-option>
    <ion-select-option value="Recetas Italianas">Recetas Italianas</ion-select-option>
    <ion-select-option value="Recetas Mexicanas">Recetas Mexicanas</ion-select-option>
    <ion-select-option value="Recetas Japonesas">Recetas Japonesas</ion-select-option>
    <ion-select-option value="Recetas Francesas">Recetas Francesas</ion-select-option>
    <ion-select-option value="Postres Internacionales">Postres Internacionales</ion-select-option>
    <ion-select-option value="Comida Rápida Saludable">Comida Rápida Saludable</ion-select-option>
    <ion-select-option value="Cocina Vegetariana">Cocina Vegetariana</ion-select-option>
    <ion-select-option value="Recetas de Mariscos">Recetas de Mariscos</ion-select-option>
    <ion-select-option value="Cocina Mediterránea">Cocina Mediterránea</ion-select-option>
    <ion-select-option value="Recetas para Desayuno">Recetas para Desayuno</ion-select-option>
    <ion-select-option value="Recetas Sin Gluten">Recetas Sin Gluten</ion-select-option>
    <ion-select-option value="Cocina Vegana">Cocina Vegana</ion-select-option>
    <ion-select-option value="Recetas Festivas">Recetas Festivas</ion-select-option>
  </ion-select>
 </ion-item>


<ion-list *ngIf="recetas.length > 0">
  <ion-item *ngFor="let receta of recetas" (click)="navigateTo(receta, '/publicacion')">
    <ion-label>
      <h2>{{ receta.titulo }}</h2>
    </ion-label>
    <img [src]="receta.imagen" alt="{{ receta.titulo }}" style="width: 50px; height: 50px;" />
  </ion-item>
</ion-list>
</ion-content>
