<ion-app>


 <ion-content class="background">
  <h1 class="titulos">
    CocinApp
  </h1>


  <ion-card class="blurred-card">
    <ion-card-header>
      
    </ion-card-header>
  
    <ion-card-content>
      <p>
        ¡Descubre nuevas recetas, guarda tus favoritas y comparte tus creaciones con amigos y familiares con CocinApp!</p>
    </ion-card-content>
  </ion-card>
  


  <ion-button expand="block"  color="light" class="boton-empecemos" fill="outline"   (click)="ingresar()" >
    EMPECEMOS
  </ion-button>
 </ion-content>

</ion-app >