<app-header [titulo]="'Publicaciones Guardadas'" [Direccion]="'/inicio'"></app-header>

<ion-content>
  <!-- Lista de Recetas Guardadas -->

  
  <ion-list *ngIf="publicacionesGuardadas.length > 0">
    <ion-item *ngFor="let recetaId of publicacionesGuardadas" (click)="navigateTo(recetaId, '/publicacion')">
      <ion-label>
        <h2>Receta {{ recetaId }}</h2> <!-- Aquí puedes reemplazar con el título o detalles de la receta -->
      </ion-label>
    </ion-item>
  </ion-list>
  
  <!-- Mensaje si no hay publicaciones guardadas -->
  <div *ngIf="publicacionesGuardadas.length === 0">
    <p>No tienes publicaciones guardadas.</p>
  </div>
  
</ion-content>
