#cajaregistro {
    --padding-start: 10px;
    --padding-end: 10px;
    --padding-top: 20px;
    --padding-bottom: 20px;
  }
  
  .form-card {
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  ion-item {
    margin-bottom: 15px;
  }
  
  ion-input {
    font-size: 16px;
  }
  
  ion-input::placeholder {
    text-align: center; /* Centra el texto del placeholder */
    color: #888; /* Color del placeholder, puedes ajustarlo si es necesario */
  }
  
  .submit-button {
    margin-top: 20px;
  }
  