<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Registro</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="cajaregistro">
  <ion-card class="form-card">
    <ion-card-content>
      <ion-item>
        <ion-input label="Usuario" type="text" [(ngModel)]="usuario" name="usuario" placeholder="Escriba su nombre de usuario"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Correo" type="email" [(ngModel)]="correo" name="correo" placeholder="Escriba su correo electrónico"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Contraseña" type="password" [(ngModel)]="contrasenna" name="contrasenna" placeholder="Digite su contraseña"></ion-input>
      </ion-item>

      <ion-button id="botonregistro" expand="block" class="login-button" (click)="Registrar()">
        REGISTRAR
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

